<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
          class="ru.mephi.spring.test.TestBean">
        <constructor-arg value="Ivan"/>
    </bean>

    <bean id="classicMusicBean"
          class="ru.mephi.spring.xml.ClassicMusic"
          factory-method="factory">
    </bean>

    <bean id="jazzBean"
          class="ru.mephi.spring.xml.Jazz"
          destroy-method="destroy">
    </bean>

    <bean id="rockBean"
          class="ru.mephi.spring.xml.RockMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="ru.mephi.spring.xml.MusicPlayer"
          scope="prototype"
          init-method="init"
          destroy-method="destroy"> <!--Не работает, хы-хы-->
        <constructor-arg ref="jazzBean"/>
        <property name="musicNext" ref="classicMusicBean"/>

        <property name="musicList">
            <list>
                <ref bean="classicMusicBean"/>
                <ref bean="jazzBean"/>
                <ref bean="rockBean"/>
                <ref bean="jazzBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

    </bean>
</beans>