<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div style="color:red" th:if="${param.error}">Неверные учётные данные!</div>
    <div style="color:green" th:if="${param.logout}">Вы вышли из аккаунта....</div>

<form th:action="@{/auth/login}" method="post">
    <div>
        <label>Username: <input name="username" type="text"></label>
    </div>
    <div>
        <label>Password: <input name="password" type="password"></label>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>

    <a href="/auth/registration">Registration</a>
</body>